{% extends '0_base.html' %}
{% load static %}

{% block title %} Create a Post {% endblock %}
{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'css/style_blog.css' %}">{% endblock %}
{% block content %}

        <h1>Log in</h1>
        <div class="form-group">
            <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-secondary">Log in!</button>
            </form>
        </div>

		
			
		
{% endblock %}
