h1 {
  font-family: verdana;
}
p  {
  font-family: courier;
} 
  .nav-color{
    background-color: #E1EBFA;
  }

  .right{
    justify-content: flex-end;
  }

  body{
    background: #A151FC;
    color: white;
    
  }

  .navbar-right{
    padding: 5vh;
    padding-right: 5vw;
  }
  .nav-link{
    font-weight: bold;
    font-size: 1.5vw;
    margin-left: .9rem;
    color: #7019DE;
  }
  .navbar-light .navbar-nav .nav-link{
    color: #7019DE !important;
  }

  #socmed{
    width: 4vw;
    height: 35vh;
    background-color: #EA80FC;
    display: flex;
    -webkit-flex-wrap: wrap;
    align-content: center;
    justify-content: center;

  }

  #socmed img{
    width: 3vw;
    padding-top: 5px;

  }
  #socmed .gml{
    padding-bottom: 5px;

  }

  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .5); }

  

