						h1 {
			  color: blue;
			  font-family: verdana;
			  font-size: 300%;

			}
			p  {
			  color: red;
			  font-family: courier;
			  font-size: 160%;
			}

			.nav-color{
				background-color: #E1EBFA;
			}

			.right{
				justify-content: flex-end;
			}

			.navbar-right{
				padding: 5vh;
				padding-right: 5vw;
			}

			body{
				background: #A151FC;
			
			}

			.nav-link{
				font-weight: bold;
				font-size: 1.5vw;
				margin-left: .9rem;
				color: #7019DE;
			}
			.navbar-light .navbar-nav .nav-link{
				color: #7019DE !important;
			}

			.container{
				height: 85vh;
				max-width: 100%;
				padding: 0;
				display: flex;
				align-items: center;
				
			}
			#socmed{
				width: 4vw;
				height: 35vh;
				background-color: #EA80FC;
			  display: flex;
			  -webkit-flex-wrap: wrap;
			  align-content: center;
			  justify-content: center;

			}

			#socmed img{
				width: 3vw;
				padding-top: 5px;

			}
			#socmed .gml{
				padding-bottom: 5px;

			}

			hr{
				color: #EA80FC;
			}
			#main h1{
				color: white;
				font-weight: bolder;


			}

			#main p{
				color: black;
				font-style: italic;
			}

			#main{
				width: 100%;
				text-align: center;
			}

			.circle{
				width: 44vmin;
				height: 44vmin;
			}

			.desc{
				padding-top: 4vh;
				font-weight: bolder;

			}

			/*Page message*/
						input[type=text], select, textarea {
			  width: 80%;
			  padding: 12px;
			  border: 3px solid black;
			  resize: vertical;
			}

			input[type=submit] {
			  background-color: #FF009B;
			  color: white;
			  border: none;
			  cursor: pointer;
			  width: 150px;
			    height: 80px; 
			    border-top-left-radius:80px;  
			    border-top-right-radius: 80px; 
			    
			    opacity: 0.9;
			}
			

			.container-form {
			  display: flex;
			  justify-content: center;

			
			}

		
			.col-75 {
			  float: left;
			  width:100%;
			  margin-top: 25px;
			}

			#submit-area{
				position: relative;
				left:350px;
			}
