{% load categories %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  	<head>
	    <!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	    <title>{% block title %} Fathinah Izzati {% endblock %}</title>
		{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">{% endblock %}
		<script type="text/javascript" src='https://cdn.tiny.cloud/1/bqjttcmm95v7zb9ztqk44v8ewn4ddb3zt6tns3cr19lag8bp/tinymce/5/tinymce.min.js' referrerpolicy="origin"></script>
		{% block js %}
		{% endblock %}
		
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-light nav-color navbar-right">
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse right" id="navbarNav">
		    <ul class="navbar-nav ">
		      <li class="nav-item active">
		        <a class="nav-link" href="{% url 'homepage:index' %}">HOME </a>
		      </li>
		      <!--sr only gue apus diatas-->
			  
			  <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="{% url 'homepage:blog' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				  BLOG
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="{% url 'homepage:blog' %}">All Blogs</a>
				  	{% if user.is_authenticated %}
						<a class="dropdown-item" href="{% url 'homepage:add_post' %}">Add New Post</a>
						<a class="dropdown-item" href="{% url 'homepage:add_category' %}">Add New Category</a>
					{% endif %}
					<div class="dropdown-divider"></div>
					{% get_categories %}
				</div>
			  </li>
			  
			  {% if user.is_authenticated %}
			  <li class="nav-item">
		        <a class="nav-link" href="{% url 'logout' %}">LOG OUT</a>
		      </li>
			  {% else %}
			  <li class="nav-item">
		        <a class="nav-link" href="{% url 'register' %}">REGISTER</a>
			  </li>
			  <li class="nav-item">
		        <a class="nav-link" href="{% url 'login' %}">LOG IN</a>
			  </li>

			  {% endif %}


		      <li class="nav-item">
		        <a class="nav-link" href="{% url 'homepage:contact' %}">CONTACT</a>
		      </li>
                <li class="nav-item">
		        <a class="nav-link" href="{% url 'homepage:form' %}">FORM</a>
		      </li>
                <li class="nav-item">
		        <a class="nav-link" href="{% url 'homepage:showform' %}">SHOW FORM</a>
		      </li>

		    </ul>
		  </div>
		</nav>
		
		{% block content %}

		{% endblock %}

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>