{% extends '0_base.html' %}
{% load static %}
{% block content %}

		<div class = "container">
			<div id="socmed">
				<a href="https://instagram.com/fa.thina/"><img src="{% static 'images/ig.png' %}"></a>
				
				<a href="https://github.com/cruncheek"><img src="{% static 'images/github.png' %}"></a>

				<a href="https://medium.com/@cruncheek"><img class="gml" src="{% static 'images/gmail.png' %}"></a>
			</div>
			<div id="main">
				 <img class="circle" src="{% static 'images/pena-bulat.png' %}">
				 <h3 class="desc">WRITING & BLOGGING</h3>
			</div>
		</div>
		
			
		
{% endblock %}
