{% extends '0_base.html' %}
{% load static %}


{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'css/style_blog.css' %}">{% endblock %}
{% block content %}
  <main role="main">
		
	<div class="album py-5">
	  <div class="container">
		
		{% if user.is_authenticated %}
		<button type="button" class="btn btn-secondary btn-lg btn-block my-3 btn-light"><a href="{% url 'homepage:add_post' %}">Add New Post</a></button>
		<button type="button" class="btn btn-secondary btn-lg btn-block my-3 btn-light"><a href="{% url 'homepage:add_category' %}">Add New Category</a></button>
		<p>Welcome {{ user.username }}</p>
		
		{% endif %}
		
		<div class="row">	
		{% for post in object_list %}
		  <div class="col-md-4">
			<div class="mb-4 box-shadow">
			{% if post.image %}
			  <img class="card-img-top" src="{{ post.image.url }}">
			{% endif %}
			  <div class="card-body">
				<h6>{{post.title}}</h6>
				<small><a href="{% url 'homepage:category_page' post.category|slugify %}">{{post.category}}</a></small>
				<p class="card-text">{{ post.snippet }}</p>
				<div class="d-flex justify-content-between align-items-center">
				  <div class="btn-group">
					<button type="button" class="btn btn-sm"><a href="{% url 'homepage:detail_post' post.pk %}">View</a></button>
					{% if user.is_authenticated %}
					<button type="button" class="btn btn-sm"><a href="{% url 'homepage:edit_post' post.pk %}">Edit</a></button>
					<button type="button" class="btn btn-sm"><a href="{% url 'homepage:delete_post' post.pk %}">Delete</a></button>
					{% endif %}
					</div>
				  <small>{{ post.post_date }}</small>
				</div>
			  </div>
			</div>
		  </div>

		{%endfor%}
		</div>
	  </div>
	</div>
  </main>
{% endblock %}
