{% extends '0_base.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'css/style_blog.css' %}">{% endblock %}
{% block content %}

		<div class = "container">
			<div id="main">
				<h3>{{ object.title }}</h3>
				<p>{{ object.post_date }}</p>
				<p>{{ object.body|safe }}</p>
				<small>{{ object.author.first_name }}</small> 
				{% if user.is_authenticated %}
				<a href="{% url 'homepage:edit_post' object.pk %}"><br><small>(Edit)</small></a>
				<br>
				<a href="{% url 'homepage:delete_post' object.pk %}"><small>(Delete)</small></a>
				{% endif %}
				<p>{{ total_likes }} Likes</p>
				<form action="{% url 'homepage:like_post' object.pk %}" method="POST">
					{% csrf_token %}
					{% if liked %}
					<button type="submit" name="post_id" class="btn btn-danger btn-sm" value="{{ object.id }}">Unike</button>
					{% else %}
						<button type="submit" name="post_id" class="btn btn-sm" value="{{ object.id }}">Like</button>
					{% endif %}
					</form>
			</div>
		</div>
		
{% endblock %}
