{% extends '0_base.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'css/style_blog.css' %}">{% endblock %}
{% block title %} Create a Post {% endblock %}
{% block js %}
<script type="text/javascript">
    tinymce.init({
        selector:  '#id_body',
        width: 600,
        height: 300,
        plugins: [
        'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
        'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
        'table emoticons template paste help'
        ],
        toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | ' +
        'bullist numlist outdent indent | link image | print preview media fullpage | ' +
        'forecolor backcolor emoticons | help',
        menu: {
        favs: {title: 'My Favorites', items: 'code visualaid | searchreplace | spellchecker | emoticons'}
        },
        menubar: 'favs file edit view insert format tools table help',
        content_css: 'css/content.css'
    });
</script>
{% endblock %}

{% block content %}
		<div class = "container">
            {% if user.is_authenticated %}
            <h1>Create a Post</h1>
            <div class="form-group">
				<form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form.as_p }}
                    <button class="btn btn-secondary">Post</button>
                </form>
            </div>
            {% else %}
            <h3>You're not allowed here.</h3>
            {% endif %}	
        </div>
        <!-- <script>
            var name = "{{ user }}";
            document.getElementById("person").value
            = name;

        </script> -->
{% endblock %}
