{% extends '0_base.html' %}
{% load static %}

{% block title %} Edit a Post {% endblock %}
{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'css/style_blog.css' %}">{% endblock %}
{% block content %}
		<div class = "container">
            {% if user.is_authenticated %}
            <h1>Delete a Post</h1>
            <div class="form-group">
				<form method="POST">
                {% csrf_token %}
                 <p>You sure?</p>
                <button class="btn btn-secondary">Yes</button>
                </form>
            </div>
            {% else %}
            <h3>You're not allowed here.</h3>
            {% endif %}	
		</div>

			
		
{% endblock %}
