{% extends '0_base.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'css/style_blog.css' %}">{% endblock %}
{% block title %} Create a Post {% endblock %}

{% block content %}
		<div class = "container">
            {% if user.is_authenticated %}
            <h1>Create a Category</h1>
            <div class="form-group">
				<form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-secondary">Post</button>
                </form>
            </div>
            {% else %}
            <h3>You're not allowed here.</h3>
            {% endif %}	
        </div>
{% endblock %}
