{% extends '0_base.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'css/style_blog.css' %}">{% endblock %}
{% block content %}
  <main role="main">
	<div class="album py-5">
	  <div class="container">
        {% if data %}
        <h3 class="py-2"> {{ title }} </h3>
		<div class="row">	
            {% for post in data %}
            <div class="col-md-4">
                <div class="mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                    <h6>{{post.title}}</h6>
                    <p class="card-text">{{post.body|slice:":200"|striptags}}</p>
                    <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm"><a href="{% url 'homepage:detail_post' post.pk %}">View</a></button>
                        {% if user.is_authenticated %}
                        <button type="button" class="btn btn-sm"><a href="{% url 'homepage:edit_post' post.pk %}">Edit</a></button>
                        <button type="button" class="btn btn-sm"><a href="{% url 'homepage:delete_post' post.pk %}">Delete</a></button>
                        {% endif %}
                    </div>
                    <small>{{ post.post_date }}</small>
                    </div>
                </div>
                </div>
            </div>
            {%endfor%}
        </div>
        {% else %}
            
        {% endif %}
	  </div>
	</div>
  </main>
{% endblock %}
