{% extends '0_base.html' %}
{% load static %}
{% block content %}
			<div id="socmed">
				<a href="https://instagram.com/fathinasma/"><img src="{% static 'images/ig.png' %}"></a>
				<a href="https://github.com/fathinah"><img src="{% static 'images/github.png' %}"></a>
				<a href="https://medium.com/@fathinah"><img class="gml" src="{% static 'images/gmail.png' %}"></a>
			</div>
			<form method="post" action="{% url 'homepage:contact' %}" name="message">
			{% csrf_token %}
			<input type="text" name="mail" placeholder="Email"><br>
			<input type="text" name="title" placeholder="Title"><br>
			<textarea name="message" placeholder="Message..."></textarea>
			<input onclick="myFunction()" type="submit" value="Submit">
			<input type="reset" value="Reset">

			{{display|safe}}
			</form>
{% endblock %}
