{% extends '0_base.html' %}
{% load static %}
{% block content %}
        <h3>Add a reminder</h3>

        <form action="{% url 'homepage:form' %}" method="POST">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            {% with url_name=request.resolver_match.url_name %}
                <button class="btn-success" type="submit">Add</button>
                </form>

            {% endwith %}

{% endblock %}